

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.4s;
}
body{
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
}


.navbar{
    display: flex;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
   
}


.logo{
    width: 150px;
    height:100px ;
    margin-left:1rem;
}

.hamburger-menu{
    padding-right: 1.5rem;
    cursor: pointer;
}

.hamburger-menu .line{
   display: block;
   width:2.5rem;
   height: 2px;
   margin-bottom: 10px;
   background-color: black;
   cursor: pointer;
}

.nav-menu{
    position: fixed;
    width: 94%;
    top: 6rem;
    left: 18px;
    background-color: rgb(255, 255, 255);
    font-weight: 600;

}
.nav-menu a{
    display: block;
    text-align: center;
    padding: 5px 0;
}
.nav-menu a:hover{
    background-color: rgb(223, 251, 219);
}

.hide{
    display: none;
}


@media screen and (min-width:600px){
    .navbar{
        justify-content: space-around;
    }
    .nav-menu{
        display: block;
        position: static;
        width: auto;
        margin-right:20px;
        background: none;
    }
    .nav-menu a{
        display: inline-block;
        padding: 15px 20px;
    }
    .nav-menu a:hover{
        background-color: rgb(226, 38, 9);
        border-radius: 5px;
    }
    .hamburger-menu{
        display: none;
    }
}


.para{
height: 250px;
width: 250px;
}
hr{
   
    background-color: rgb(233, 33, 33);
}
h1{
    align-items: center;
}
button{
height: 50px;
width: 100px;
float: right;
margin-top: 26px;
border: 10px;
border-color: black;
border-radius: 20px;
background-color: azure;
}
.section{
    display: flex;
    flex-direction: row;
    width: 50%;
    background-color: red;
}

.sec1 {
    background-color: cyan;
}
.sec2{
    background-color: rgb(170, 179, 187);
}
.img1{
    margin: 25px;
    margin-left: 200px;
}

.img2{
    color: rgb(255, 255, 255);
    display:inline-block;
  width: 500px;
    background-color: red;
    margin-left: 50%;
    
}

.text {
    background-color: aqua;
}
 p{
    text-align: center;
 }
 b{
    color:orangered
 }
 b:hover{
    color:rgb(42, 39, 39)
 }
 img{
    align-items: center;
 }

 .brd{
    border-bottom: 2px;
    border-color: brown;
 }
 h2{
    border-bottom: 2px;
    border-color: brown;
   
 }

 footer{ 
    margin-top: 20px;
    margin-bottom: 20px;

 }